/* App CSS */

@-webkit-keyframes planetarium{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}
	50%{
		-webkit-transform:translateY(5px);
		transform:translateY(5px);
	}
	100%{
		-webkit-transform:translateY(1px);
		transform:translateY(1px);
	}
}
@keyframes planetarium{
	0%{
		transform:translateY(0);
	}
	50%{
		transform:translateY(5px);
	}
	100%{
		transform:translateY(1px);
	}
}

@keyframes parachute{
	0%{
		transform:rotate(15deg);
	}
	50%{
		transform:rotate(-15deg);
	}
	100%{
		transform:rotate(15deg);
	}
}

/* ---------------- */
@keyframes stretch {
    0% {
        transform: scale(1);
        opacity: .6;
    }
    100% {
        transform: scale(1.375);
        opacity: 0;
    }
}
@keyframes inner-stretch {
    0% {
        transform: scale(1);
        opacity: .5;
    }
    100% {
        transform: scale(1.25);
        opacity: 0;
    }
}

@keyframes join-arrow {
    0% {
        top:6px;
    }
    80%{
        opacity: .8;
    }
    100% {
        top:60px;
        opacity: 0;
    }
}

@keyframes join-dot {
    0% {
        height: 20px;
    }
    80%{
        opacity: .8;
    }
    100% {
        height: 70px;
        opacity: 0;
    }
}


body { font-family: "Museo300";}
h1,h2,h3,h4,h5,h6 { font-family: "Museo700";}

#header { display: none}

.logo { position: fixed; z-index: 25; top:40px; left:50px; width:202px;}

.mainmenu { transform:translate3d(-300px,0,0); position: fixed; height:100vh; z-index: 24; left:0; top:0; bottom:0; transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
.mainmenu.active { transform:translate3d(0,0,0);}
.menu-toggle { position: absolute; right:-72px; top:50%; margin-top:-30px;}
.menu-toggle > a { display: block; width:72px; height:60px; line-height: 1; padding:27px 22px 27px 10px; margin:0; text-align: center; position: relative;}
.menu-toggle > a:before { position: absolute; display: block; width:77px; height:74px; content:""; background:url(../img/menu-bg.png) no-repeat center; top:-7px; left:0;}
.menu-toggle .material-icons { font-size:44px;}

span.lines { display: block; margin:0 auto; z-index: 4; width:40px; height: 6px; background: #fff; border-radius: 2px; position: relative; }
span.lines {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease; transition: top 0.3s 0.6s ease, transform 0.3s ease;}
.lines:before, .lines:after {	display: inline-block;width: 40px;height: 6px;background: #fff;border-radius: 2px;transition:all .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);position: absolute;left: 0;content: '';}
.lines:before {	top: 12px;}
.lines:after {top: -12px;}

.logo.disabled a, .menu-toggle.disabled a { opacity: .5; cursor:default; pointer-events:none;}

.mainmenu.active .menu-button .lines:before {top: 0;
.}mainmenu.active .menu-button .lines:after {top: 0;}

.mainmenu.active .menu-button .lines {transition: background 0.3s 0s ease; background: transparent;}
.mainmenu.active  .menu-button .lines:before, .mainmenu.active  .menu-button .lines:after {transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease; transition: top 0.3s ease, transform 0.3s 0.5s ease;  top: 0;}
.mainmenu.active .menu-button .lines:before {-webkit-transform: rotate3d(0, 0, 1, 45deg);  transform: rotate3d(0, 0, 1, 45deg);}
.mainmenu.active .menu-button .lines:after {  -webkit-transform: rotate3d(0, 0, 1, -45deg);  transform: rotate3d(0, 0, 1, -45deg);}

.menu-items { width:300px; padding:25px;height:100%; overflow: hidden; position: relative; background:inherit;}
.menu-items:before {width:300px; position: absolute; top:0; left:0; right:0; bottom:0; display: block; content:""; z-index:-1; background:rgba(0,0,0,.5);}

.mainmenu.active .menu-items { box-shadow:0 0 8px #000;}

.dcc-socials { position: absolute; z-index: 2; bottom:0; left:0; right:0; padding:25px; text-align: center;}
.dcc-socials h4 { font-weight: bold; margin:0 0 16px; font-size:20px; color:#fff;}
.dcc-socials ul { margin:0; display: block;}
.dcc-socials li { display:inline-block; margin:0 .5rem}
.dcc-socials li a { display: block; border-radius:1000px; width:30px; height:30px; line-height: 30px; text-align: center; background:#fff; color:#000; font-size:18px;}

.bg-container { overflow: visible; height:100vh;}
.bg-container img { transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946);}

.anim.bg-home img { transform-origin:50% 100%; transform:scale(1.75); }
.fading .bg-container img { transform-origin:50% 100%; transform:scale(2.25); opacity:0; transition:all 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);}

.dcc-start { display: block; position: fixed; top:35%; left:50%; font-size:3rem; width:80px; height:60px; line-height: 60px; text-align: center; margin-left:-40px; color:#000; text-shadow:0 0 5px #fff; z-index: 1000; cursor: pointer}

.dragon-building { position: relative;}
.dragon-building .layer { position: absolute; top:0; left:0; right:0;}
.dragon-building .layer-bg { position: relative;}
.dragon-building .layer-building { bottom:0; top:auto;}
.dragon-building .layer-parachute { left:auto; right:auto; width:40%; left:30%; transition:all 30s ease-in-out; animation:parachute 4s infinite ease-in-out; transform-origin:50% 0; top:-800px;}


.join {
    display: block;
}

.join:before {
 left:0;
    position: absolute;
    width: 80px;
    height: 20px;
    top:0;
    background: transparent url(../img/join-dot.png) no-repeat center top;
    background-size: 100% auto;
    animation-name: join-dot;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    content: "";
}

.join:after {
    position: absolute;
    width: 80px;
    height: 60px;
    background: transparent url(../img/join-arrow.png) no-repeat center;
    background-size: contain;
    animation-name: join-arrow;
    animation-duration: 2s; 
    left:0;
    animation-iteration-count: infinite;
    content: "";
}

.lobby-button-container {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top:30px;
    margin-left:-60px;
    animation:planetarium 2s infinite linear;
    cursor:pointer;
}

.lobby-button-container::before {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -50%;
    top: 50%;
    left: 50%;
    background: #fff;
    transform-origin: 50% 50%;
    border-radius: 100%;
    content: "";
    z-index: 1;
    animation-name: stretch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lobby-button-container::after {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -50%;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 100%;
    content: "";
    z-index: 1;
    animation-name: inner-stretch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

.lobby-button {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -50%;
    top: 50%;
    left: 50%;
    font-size:25px; color:#fff; line-height: 120px; text-align: center;
    background: transparent url(../img/lobby-button.png) no-repeat center;
    transform-origin: 50% 50%;
    content: "";
    z-index: 9;
}   

.see-future .lobby-button { font-size:18px; line-height: 24px;padding:30px 0;text-transform: capitalize;}

.dcc-page { }
.dcc-lobby { z-index: 8;}
.dcc-team { z-index: 7;}
.dcc-rooftop { z-index: 6}

.rooftop-content h4 { font-size:40px; color:#fff; margin:0 0 30px;}

.dcc-home { z-index: 10;}

.dcc-content { position: absolute; z-index: 9; top:0; left:0; right:0; bottom:0;}
.dcc-home { position: absolute; z-index: 10; top:0; left:0; right:0; bottom:0;}

#content { position: fixed; z-index:15; left:0; top:0; right:0; bottom:0;}

body { background:url(../img/floor-separator.jpg) repeat center;}

.draggable-lobby 
{
	width: 2000px;
	height: 1024px;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: #000;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.draggable-lobby .bg-section { width:2000px; height: 1024px;}
.draggable-lobby .bg-section img { display: block;}

.draggable-team 
{
	width: 4000px;
	height: 1024px;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: #000;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	cursor:pointer;
}

.draggable-team .bg-section { width:4000px; height:1024px;}
.draggable-team .bg-section img { display: block; position:absolute;}

.draggable-rooftop 
{
	width: 2000px;
	height: 1024px;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: #000;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	cursor:pointer;
}

.draggable-career 
{
	width: 2000px;
	height: 1024px;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: #000;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.draggable-career .bg-section { width:2000px; height: 1024px;}
.draggable-career .bg-section img { display: block;}

.draggable-rooftop .bg-section { width:2000px; height: 1024px;}
.draggable-rooftop .bg-section img { display: block;}

.draggable-lobby, .draggable-team, .draggable-rooftop, .draggable-career {cursor:-webkit-grab; cursor:-moz-grab;}
.draggable-lobby:active, .draggable-team:active, .draggable-rooftop:active, .draggable-career:active {cursor: -webkit-grabbing; cursor:-moz-grabbing;}

.lobby-content { position: absolute; top:50%; left:50%; width:600px; margin-left:-360px; height:300px; margin-top:-180px; text-align: center;}
.lobby-content h2 { font-size:3rem; margin:0 0 .5rem; color:#fff;}
.lobby-content p { font-size:1.5rem; margin-bottom: 1.5rem; color:#fff;}

.rooftop-content { position: absolute; top:50%; left:50%; width:600px; margin-left:-360px; height:300px; margin-top:-180px; text-align: center;}
.rooftop-content h2 { font-size:3rem; margin:0 0 .5rem; color:#fff;}
.rooftop-content p { font-size:1.5rem; margin-bottom: 1.5rem; color:#fff;}

.draggable { height:100vh; position: relative; overflow: hidden; background:#000;}

.team-container { }

.floor-separator { height:50px; background:url(../img/floor-separator.jpg) repeat left center}

.dcc-nav { position: fixed; bottom:20px; right:20px; z-index: 22; transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
.dcc-nav.home { right:-300px;}
.dcc-nav .nav { display: inline-block; vertical-align: bottom; margin-left:10px; transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946);}

.dcc-nav.disabled a { opacity:.5; background:#666; cursor:not-allowed; pointer-events:none;}
.dcc-nav a { display: block; width:54px; height:54px; line-height:50px; text-align: center; font-size:36px; border-radius:1000px; background:#000; color:#fff; box-shadow:0 0 3px #000;}
.dcc-nav .nav.disabled a { opacity:.5; background:#666; cursor:not-allowed; pointer-events:none;}
.dcc-nav .down a { line-height: 54px}

.hide-out { -webkit-transform:scale(3);transform:scale(3); opacity:0; transition:all ease-out 1s; pointer-events:none;}

.logo {transform:rotateX(0deg); opacity: 1; transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946)}
body.home .logo { transform:rotateX(90deg); opacity:0;}
.menu-toggle { transform:translateX(0px); transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
body.home .menu-toggle { transform:translateX(-94px);}

.dcc-container { position: relative; background:#000; transition:all 3s cubic-bezier(0.465, 0.183, 0.153, 0.946);}

.dcc-career { position: relative;}

.career-content { position: absolute; left:0; right:0; top:0; bottom:0; z-index: 10;}

.dcc-space { position: absolute; top:0; left:0; right:0; bottom:0; z-index: 2; height:100vh;}
.dcc-space .planet { display: block; width:33%; position: absolute; top:50%; left:50%; -webkit-animation: planetarium 5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);  animation: planetarium 5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955)}
.dcc-space .planet.planet-dev { width:744px; height:744px; margin-top:-372px; left:120px;}
.dcc-space .planet.planet-creative { width:531px; height:784px; margin-top:-372px; left:804px; -webkit-animation: planetarium 3s infinite 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);  animation: planetarium 3s infinite 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)}
.dcc-space .planet.planet-illustrator { width:432px; height:528px; margin-top:-264px; left:1375px; -webkit-animation: planetarium 4s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);  animation: planetarium 4s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955)}

.team-content { position: absolute; left:0; right:0; top:0; bottom:0; z-index: 10;}

.dragon { position: absolute; z-index: 12;}
.dragon.active { z-index: 31;}

.dragon a.dragon-btn { display: block; width:30px; height:30px; background:#fff; background:rgba(255,255,255,.85); border:2px solid #939598; color:#000; border-radius:1000px; font-size:21px; text-align: center; line-height: 29px; box-shadow:0 0 8px #000; position: relative; z-index: 9; transform-origin:50% 50%; transition:all .6s cubic-bezier(0.465, 0.183, 0.153, 0.946); -webkit-animation: planetarium 4s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);  animation: planetarium 4s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955)}

.popup-content { border:2px solid #939598; width:580px; padding:25px; background:#fff; background:rgba(255,255,255,.85); border-radius:4px 24px 24px 24px; transition:all 0.3s cubic-bezier(1,0,0,1); position: absolute; z-index: 8; top:50%; left:50%; transform-origin:0 0; transform:scale(0); opacity:0; box-shadow:0 0 4px #000;}
.popup-content.open-top-right { transform-origin:0% 100%; top:auto; bottom:50%; border-radius:24px 24px 24px 4px;}
.popup-content.open-top-left { transform-origin:100% 100%; top:auto; bottom:50%; left:auto; right:50%; border-radius:24px 24px 4px 24px;}
.popup-content.open-bottom-left { transform-origin:100% 0%; left:auto; right:50%; border-radius:24px 4px 24px 24px;}

.dragon.active a.dragon-btn { transform:rotate(225deg); -webkit-animation:none; animation:none;}
.dragon.active .popup-content { transform:scale(1); opacity: 1; transition:all 0.6s cubic-bezier(1,0,0,1);}

.dragon-bg { display: block; content:""; position: absolute; top:0; left:0; right:0; bottom:0; background:#000; background:rgba(0,0,0,.5); z-index: -1; cursor:pointer; transform:rotateX(90deg);}
.dragon.active ~ .dragon-bg { transform:rotateX(0deg); z-index: 30;}


.popup-content img { float:left; display: block; width:200px; height:auto;}
.popup-content .details { float:right; width:305px;}

.popup-content h4 { font-size:22px; margin:0; line-height: 1.2}
.popup-content h5 { font-size:18px; margin:0 0 5px; line-height: 1.2; color:#535558;}
.popup-content p { font-size:15px; margin-bottom:15px; line-height: 1.2}
.popup-content h6 { font-size:16px; margin:0 0 5px; line-height: 1.2;}


.dragon-van { left:22.5%; top:11%;}
.dragon-daniel { left:12%; top:67%;}
.dragon-hendra { left:30.5%; top:55%;}
.dragon-imam { left:34%; top:20%;}
.dragon-opan { left:38%; top:68%;}
.dragon-akung { left:46%; top:58%;}
.dragon-ali { left:55.8%; top:13%;}
.dragon-jannes { left:56.8%; top:67%;}
.dragon-donny { left:60.8%; top:60%;}
.dragon-agung { left:67%; top:15%;}
.dragon-tom { left:70.5%; top:61%;}
.dragon-yoel { left:80%; top:73%;}
.dragon-erick { left:81%; top:7%;}

.dragon-aji { left:10%; top:60%;}
.dragon-beny { left:16.2%; top:24%;}
.dragon-hana { left:22%; top:27%;}
.dragon-mizan { left:22%; top:74%;}
.dragon-arie { left:31%; top:74%;}
.dragon-kun { left:40%; top:20%;}
.dragon-frans { left:43.2%; top:57.2%;}
.dragon-mogri { left:54%; top:78%;}
.dragon-dike { left:64.5%; top:66%;}
.dragon-acai { left:74%; top:47%;}
.dragon-jesslyn { left:77%; top:63.5%;}
.dragon-iqbal { left:83.2%; top:46%;}
.dragon-fano { left:92.5%; top:57%;}
.dragon-fano { left:94.2%; top:53%;}

.dragon-rajiv { left:9.8%; top:61%;}
.dragon-diaz { left:16.4%; top:67%;}
.dragon-asad { left:21.5%; top:66%;}
.dragon-arip { left:25.3%; top:64%;}
.dragon-corry { left:32.5%; top:78%;}
.dragon-borton { left:57%; top:67.5%;}
.dragon-yori { left:60.5%; top:36%;}
.dragon-stephanie { left:68%; top:76%;}
.dragon-aci { left:71.5%; top:66.5%;}
.dragon-vic { left:75.5%; top:60%;}
.dragon-mega { left:83.5%; top:54%;}
.dragon-rudy { left:84%; top:77%;}
.dragon-vinza { left:88%; top:65%;}
.dragon-fadli { left:92.2%; top:73%;}
.dragon-adit { left:92.5%; top:49%;}

.top-nav { position: absolute; left:25px; top:50%; height:397px; margin-top:-193.5px; width:250px;}
.top-nav ul { margin:0; display: block; border-collapse: collapse;}
.top-nav li { display: block; float:left; width:50%; padding:9px; border:1px dashed #fff; border-radius:4px; overflow:hidden; font-size:20px;}
.top-nav li.full { width:100%;}
.top-nav li a { display: block; height:60px; line-height: 60px; text-align: center; color:#fff; border-radius:4px; background:url(../img/menu-sprite.jpg) repeat top right; transition:all ease-out .6s; opacity:1;}
.top-nav li a:hover { box-shadow:0 0 6px 1px #fff; opacity: 1}
.top-nav li.f1 { border-radius:0 0 4px 4px; border-top:none;}
.top-nav li.f2 { border-radius:0 0 4px 0;}
.top-nav li.f3 { border-radius:0;border-bottom:none;}
.top-nav li.f4 { border-radius:0 4px 0 0;border-bottom:none;}
.top-nav li.f5 { border-radius:4px 4px 0 0; padding:9px 0 9px 9px; border-bottom:none;}
.top-nav li.f6 { border-radius:0; border-color:transparent; padding:9px 9px 9px 0; margin-left:-2px;}

.top-nav li.f1 a { background-position:bottom left;}
.top-nav li.f2 a { background-position:left 132px;}
.top-nav li.f3 a { background-position:left 198px;}
.top-nav li.f4 a { background-position:left -66px;}
.top-nav li.f5 a { background-position:left top;}
.top-nav li.f6 a { }

.top-nav.lobby li.f1 a { box-shadow:0 0 6px 1px #fff;}
.top-nav.developer li.f2 a { box-shadow:0 0 6px 1px #fff;}
.top-nav.illustrator li.f3 a { box-shadow:0 0 6px 1px #fff;}
.top-nav.creative li.f4 a { box-shadow:0 0 6px 1px #fff;}
.top-nav.rooftop li.f5 a { box-shadow:0 0 6px 1px #fff;}
.top-nav.career li.f6 a { box-shadow:0 0 6px 1px #fff;}


.dragon-wanted { display: none;}

.wanted-bg { position: fixed; z-index: 44; background:#000; background:rgba(0,0,0,.5); top:0; left:0; right:0; bottom:0; content:"";}
.wanted-modal { position: absolute; z-index: 45; top:50%; left:50%; width:580px; margin-left:-290px; border:2px solid #939598; background:#fff; background:rgba(255,255,255,.85); border-radius:24px 4px 24px 24px; box-shadow:0 0 4px #000;}
.wanted-modal a { color:#000;}
.wanted-modal p { margin-bottom:14px; line-height: 1.4; font-size:14px;}
.wanted-modal .hiring-content h3 { font-size:24px; margin:0 0 24px;}
.wanted-modal .hiring-content h6 { margin:0 0 4px;}
.wanted-modal .hiring-content { padding:20px;}
.wanted-modal .hiring-footer { padding:20px; border-top:1px solid #999;}
.wanted-modal .hiring-footer p {margin:0;}
.wanted-modal .close-wanted { position: absolute; width:30px; height:30px; line-height: 28px; text-align: center; border:2px solid #939598; background:#fff; border-radius:1000px; top:-15px; right:-15px; z-index: 46; color:#000; transform:rotate(45deg); transform-origin:50% 50%; box-shadow:0 0 8px #000;}

.dragon-hiring > a { display:inline-block; font-size:13px;  padding:0 15px; background:#1eb189; background:rgba(30,177,137,.85); height:32px; line-height: 30px; color:#fff; border-radius:300px; border:2px solid #fff;}

.planet-dev .dragon-hiring > a { background:#1eb189; background:rgba(30,177,137,.85);}

.dragon-hiring { position: absolute;}

.dragon-algorithm { top:45%; right:72%;}
.dragon-ios-developer { top:52%; right:77%;}
.dragon-android-developer { top:59%; right:78%;}
.dragon-system-admin { top:66%; right:76%;}
.dragon-ux-engineers { top:80%; right:67%;}

.dragon-data-scientists { top:40%; left:59%;}
.dragon-backend-developer { top:48%; left:64%;}
.dragon-frontend-developer { top:71%; left:65%;}
.dragon-search-engineers { top:79%; left:60%;}

@media only screen and (max-width:1366px){
	.draggable-rooftop, .draggable-lobby { width:1600px; height:819.2px;}
	.draggable-rooftop .bg-section, .draggable-lobby .bg-section { width:1600px; height:819.2px;}
}
@media only screen and (max-width:1024px){
	.draggable-rooftop, .draggable-lobby { width:1400px; height:716.8px;}
	.draggable-rooftop .bg-section, .draggable-lobby .bg-section { width:1400px; height:716.8px;}
	.lobby-content { width:520px; margin-left:-300px; margin-top:-150px;
}

@media only screen and (max-width:40em){
	.logo { left:10px; top:10px;}
}


@-webkit-keyframes planetarium {
	0% { -webkit-transform:translateY(0);transform:translateY(0);}
	50% { -webkit-transform:translateY(15px);transform:translateY(15px);}
	100% { -webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes planetarium {
	0% { -webkit-transform:translateY(0);}
	50% {	-webkit-transform:translateY(15px);}
	100% { -webkit-transform:translateY(0);}
}

