/* Button */
button, .button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 2.25rem;
	height: 2.25rem;
	margin: 0 0 1.25rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0 1rem;
	font-size: .875rem;
	background-color: #2196f3;
	border-color: #1976d2;
	color: #FFFFFF;
	transition: background-color 300ms ease-out; 
}
button:hover, .button:hover {
	background-color:#1e88e5;
	color:#fff;
}
button:focus, .button:focus{
	background-color:#1976d2;
	color:#fff;
}
button.large, .button.large {
	line-height: 3rem;
	height: 3rem;
	padding:0 1.75rem;
	font-size:1rem;
}
button.xlarge, .button.xlarge {
	line-height: 4rem;
	height: 4rem;
	padding:0 2.25rem;
	font-size:1rem;
}
button.radius, .button.radius {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
button.round, .button.round{
	-moz-border-radius:1000px;
	-webkit-border-radius:1000px;
	-ms-border-radius:1000px;
	-o-border-radius:1000px;
	border-radius:1000px;
}
button.expand, .button.expand{
	width:100%;
}
button.success, .button.success {
	background-color:#4caf50;
	border-color:#388e3c;
}
button.success:hover, .button.success:hover {
	background-color:#43a047;
}
button.success:focus, .button.success:focus {
	background:#388e3c;
}
button.secondary, .button.secondary {
	background-color:#9e9e9e;
	border-color:#616161;
}
button.secondary:hover, .button.secondary:hover {
	background-color:#757575;
}
button.secondary:focus, .button.secondary:focus {
	background-color:#616161;
}
button.alert, .button.alert {
	background-color:#ff5722;
	border-color:#e64a19;
}
button.alert:hover, .button.alert:hover {
	background-color:#f4511e;
}
button.alert:focus, .button.alert:focus {
	background-color:#e64a19;
}
button.info, .button.info {
	background-color:#00bcd4;
	border-color:#0097a7;
}
button.info:hover, .button.info:hover {
	background-color:#00acc1;
}
button.info:focus, .button.info:focus {
	background-color:#0097a7;
}
button.disabled, .button.disabled {
	background-color:#2196f3;
	border-color:#2196f3;
	cursor:default;
	opacity: 0.7;
}