/* Forms */
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea
{
    font-family: inherit;
    font-size: .875rem;

    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    margin: 0 0 .75rem 0;
    padding: .5625rem;

    -webkit-transition: border-color .15s linear, background .15s linear;
    -moz-transition: border-color .15s linear, background .15s linear;
    -ms-transition: border-color .15s linear, background .15s linear;
    -o-transition: border-color .15s linear, background .15s linear;
    transition: border-color .15s linear, background .15s linear;

    color: rgba(0, 0, 0, .75);
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    background-color: #fff;
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);*/

    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus
{
    border-color: #999;
    outline: none;
    background: #fff;
}
select
{
    font-family: inherit;
    font-size: .875rem;
    line-height: normal;

    display: block;

    width:100%;
    height: 2.25rem;
    padding: .4125rem;

    color: rgba(0, 0, 0, .75);
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    border-radius: 0;
    background: #fff;
}
select::-ms-expand
{
    display: none;
}
textarea
{
    min-height: 64px;
}
label
{
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}

input[type='file'],
input[type='checkbox'],
input[type='radio'],
select
{
    margin: 0 0 .75rem 0;
}

input[type='checkbox'] + label,
input[type='radio'] + label
{
    display: inline-block;

    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: .375rem;

    vertical-align: baseline;
}

input[type='file']
{
    width: 100%;
}