/* Responsive */
@media only screen
{
	.sm-1 {width: 8.33333%}
	.sm-2 {width: 16.66666%}
	.sm-3 {width: 25%}
	.sm-4 {width: 33.33333%}
	.sm-5 {width: 41.66666%}
	.sm-6 {width: 50%}
	.sm-7 {width: 58.33333%}
	.sm-8 {width: 66.66666%}
	.sm-9 {width: 75%}
	.sm-10 {width: 83.33333%}
	.sm-11 {width: 91.66666%}
	.sm-12 {width: 100%}

	.sm-grid-1 > div {width: 100%}
	.sm-grid-2 > div {width: 50%}
	.sm-grid-3 > div {width: 33.33333%}
	.sm-grid-4 > div {width: 25%}
	.sm-grid-5 > div {width: 20%}
	.sm-grid-6 > div {width: 16.66666%}
	.sm-grid-7 > div {width: 14.28571%}
	.sm-grid-8 > div {width: 12.5%}
	.sm-grid-9 > div {width: 11.11111%}
	.sm-grid-10 > div {width: 10%}
	.sm-grid-11 > div {width: 9.09091%}
	.sm-grid-12 > div {width: 8.33333%}

	.show-on-small {display: inherit !important;}
	.hide-on-small {display: none !important;}
}

@media only screen and (min-width: 641px)
{
	.md-1 {width: 8.33333%}
	.md-2 {width: 16.66666%}
	.md-3 {width: 25%}
	.md-4 {width: 33.33333%}
	.md-5 {width: 41.66666%}
	.md-6 {width: 50%}
	.md-7 {width: 58.33333%}
	.md-8 {width: 66.66666%}
	.md-9 {width: 75%}
	.md-10 {width: 83.33333%}
	.md-11 {width: 91.66666%}
	.md-12 {width: 100%}

	.md-grid-1 > div {width: 100%}
	.md-grid-2 > div {width: 50%}
	.md-grid-3 > div {width: 33.33333%}
	.md-grid-4 > div {width: 25%}
	.md-grid-5 > div {width: 20%}
	.md-grid-6 > div {width: 16.66666%}
	.md-grid-7 > div {width: 14.28571%}
	.md-grid-8 > div {width: 12.5%}
	.md-grid-9 > div {width: 11.11111%}
	.md-grid-10 > div {width: 10%}
	.md-grid-11 > div {width: 9.09091%}
	.md-grid-12 > div {width: 8.33333%}

	.show-on-medium, .hide-on-small {display: inherit !important;}
	.hide-on-medium {display: none !important;}
}

@media only screen and (min-width: 1025px)
{
	.lg-1 {width: 8.33333%}
	.lg-2 {width: 16.66666%}
	.lg-3 {width: 25%}
	.lg-4 {width: 33.33333%}
	.lg-5 {width: 41.66666%}
	.lg-6 {width: 50%}
	.lg-7 {width: 58.33333%}
	.lg-8 {width: 66.66666%}
	.lg-9 {width: 75%}
	.lg-10 {width: 83.33333%}
	.lg-11 {width: 91.66666%}
	.lg-12 {width: 100%}

	.lg-grid-1 > div {width: 100%}
	.lg-grid-2 > div {width: 50%}
	.lg-grid-3 > div {width: 33.33333%}
	.lg-grid-4 > div {width: 25%}
	.lg-grid-5 > div {width: 20%}
	.lg-grid-6 > div {width: 16.66666%}
	.lg-grid-7 > div {width: 14.28571%}
	.lg-grid-8 > div {width: 12.5%}
	.lg-grid-9 > div {width: 11.11111%}
	.lg-grid-10 > div {width: 10%}
	.lg-grid-11 > div {width: 9.09091%}
	.lg-grid-12 > div {width: 8.33333%}

	.show-on-large, .hide-on-small, .hide-on-medium {display: inherit !important;}
	.hide-on-large {display: none !important;}
}